#btn-back-to-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: none;
}

header{
  background-color: #9CA5B8;
}

.col-sm-lg {
  flex: 0 0 auto;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.mr-link{
  margin: left 20px;
  margin: right 0px;
}

